body {
  background: rgb(0, 0, 0);
  margin: 0;
  padding: 64px 0 0 0;
  overflow: hidden;
  font-family: Menlo, Arial, Helvetica, sans-serif;

  .header {
    width: 100%;
    height: 64px;
    background: rgb(37, 37, 37);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;

    .title {
      font-size: 1.3em;
      margin: 0 10px;
    }

    .nav-links-cont {
      margin: 0 auto;
      align-self: flex-end;
      position: relative;
      left: -85px;

      .nav-link {
        font-size: 1.2em;
        font-weight: bold;
        width: 100px;
        text-align: center;
        box-sizing: border-box;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        display: inline-block;
        opacity: 0.8;
        text-transform: capitalize;

        &.selected {
          opacity: 1;
          border-bottom: 4px solid white;
        }
      }
    }


    @media (min-width: 320px) and (max-width: 767px) {
      height: 44px;
      
      .title {
        display: none;
      }
      .nav-links-cont {
        left: 0;

        .nav-link {
          font-size: 1em;
          width: 60px;
        }
      }
    }

  }
  
  .stories-cont {
    text-align: center;
    position: relative;
    z-index: 10;
    padding: 10px 0;
    height: ~"calc(100vh - 88px)";
    overflow: scroll;
    color: white;
  }

  .hn-story {
    width: 450px;
    height: 90px;
    background: black;
    display: inline-block;
    vertical-align: top;
    color: white;
    margin: -1px 0px 0px -1px;
    border: 1px solid #5a5a5a;
    
    .story-cont {
      height: 100%;
      text-align: left;

      > a {
        text-decoration: none;
        color: inherit;
      }
    }

    .center-content {
      box-sizing: border-box;
      display: inline-block;
      width: 370px;
      height: 100%;
      vertical-align: top;
      text-align: left;
      padding: 6px 6px;
      position: relative;

      .story-index {
        color: gray;
      }

      .story-link {
        text-decoration: none;
        color: white;
      }

      .url-cont {
        color: #4e4e4e;
        font-size: 0.8em;
      }

      .bottom-bar {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 440px;
        height: 20px;
        color: #4e4e4e;
        padding: 4px 8px;
        font-size: 0.85em;
        display: none;

        .story-prop {
          display: inline-block;
          margin-right: 30px;
        }

        a {
          text-decoration: none;
          color: inherit;
        }

      }

      &:hover .bottom-bar {
        display: block;
      }
      
    }

    .right-side {
      box-sizing: border-box;
      width: 80px;
      height: 100%;
      vertical-align: middle;
      text-align: center;
      padding: 20px 0 0 0;
      color: inherit;
      text-decoration: none;
      display: inline-block;
      border-left: 1px solid #1e1e1e;
    }

    .moveup {
      animation-name: moveup;
      animation-duration: 1s;
      animation-iteration-count: 2;
      animation-direction: alternate;
    }
    
    .movedown {
      animation-name: movedown;
      animation-duration: 1s;
      animation-iteration-count: 2;
      animation-direction: alternate;
    }

    @media (min-width: 320px) and (max-width: 767px) {
      width: 100vw;

      .center-content {
        width: ~"calc(100vw - 50px)";
        font-size: 0.9em;

        &:hover .bottom-bar {
          display: none;
        }
      }

      .right-side {
        display: inline-block;
        width: 50px;
        font-size: 0.8em;
      }
    }

  }


  .model-cont {

    position: fixed;
    left: 0;
    top: 64px;
    width: 100%;
    z-index: 300;

    .backdrop {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      min-height: 100%;

      background: rgba(0, 0, 0, 0.6);
    }

    .hn-model {
      max-width: 850px;
      width: 90%;
      margin: 20px auto;
      background: black;
      position: relative;
      border: 1px solid white;

      .hn-model-title {
        font-size: 1.2em;
        padding: 10px 20px;
        background: white;
        color: black;
        display: flex;
        justify-content: space-between;

        .title {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        .close-btn {
          font-size: 1.1em;
          float: right;
          font-family: arial;
          color: darkgray;
          cursor: pointer;
        }
      }

      .hn-model-content {
        padding: 20px;
        height: ~"calc(100vh - 160px)";
        box-sizing: border-box;
        overflow: scroll;
        background: black;
        color: white;
      }
    }
  }


  .hn-comment {
    margin: 0 0 20px 0;

    .story {
      margin-bottom: 20px;
      background: #ffffff;
      color: #222222;
      margin: -20px -20px 0 -20px;
      padding: 20px;
      border-top: 1px solid lightgray;
    }

    p {
      margin-bottom: 0;
    }

    .bottom-bar {
      width: 100%;
      height: 20px;
      color: #4e4e4e;
      padding: 4px 0;
      font-size: 0.9em;
      margin-top: 8px;

      .comment-prop {
        display: inline-block;
        margin-right: 40px;

        &.comment-replies-btn {
          cursor: pointer;
        }

        a {
          text-decoration: none;
          color: inherit;
        }
      }

    }

    .comment-cont {
      display: flex;
      flex-direction: row;

    }

    .comment-left-border {
      border-left: 10px solid gray;
      padding-left: 10px;
      cursor: pointer;
    }

    .comment-replies {
      margin-top: 10px;
    }
  }


}

@keyframes moveup {
  0% {
    background-color: transparent;
  }

  100% {
    background-color: green;
    color: white;
  }
}

@keyframes movedown {
  0% {
    background-color: transparent;
  }

  100% {
    background-color: red;
    color: white;
  }
}

